.footer {
  position: relative;
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  margin-top: -7rem;

  @media screen and (max-width: 992px) {
    margin-top: 0rem;
  }

  @media screen and (max-width: 576px) {
    margin-top: -8rem;
  }

  img {
    width: 100%;
  }
  .f-content {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 4rem;
    margin-top: 4rem;
    .f-icons {
      display: flex;
      gap: 2rem;
    }
    @media screen and (max-width: 576px) {
      transform: scale(0.8);
    }
  }
}
