.experience {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: var(--black);
  margin-bottom: 8rem;

  @media screen and (max-width: 576px) {
    transform: scale(0.7);
  }
  & .achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      &:nth-of-type(2) {
        color: var(--orange);
      }
    }
    .circle {
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 100%;
      position: relative;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 2rem;
      &::before {
        border-radius: 100%;
        content: "";
        background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
        position: absolute;
        bottom: -8px;
        right: -8px;
        top: -8px;
        left: -8px;
        z-index: -1;
        box-shadow: var(--boxShadow);
      }
    }
  }
}
